[paths]
source = src

[run]
branch = true
source = src
parallel = true
omit = src/searchstringparser/parser/parsetab.py

[report]
show_missing = true
precision = 2
omit = *migrations*
       src/searchstringparser/parser/parsetab.py
