graft docs
graft examples
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .isort.cfg
include .pylintrc

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE.rst
include README.rst

include tox.ini .travis.yml appveyor.yml

exclude src/searchstringparser/parser/parser.out
exclude src/searchstringparser/parser/parsetab.py

global-exclude *.py[cod] __pycache__ *.so *.dylib
